<mat-toolbar color="primary" class="main-toolbar">

    <span class="toolbar-title">Bozhidar Penchev</span>
  

    <div class="spacer"></div>
    <nav class="nav-links">
      <a mat-button routerLink="/" routerLinkActive="active-link">Home</a>
      <a mat-button routerLink="/about" routerLinkActive="active-link">About</a>
      <a mat-button routerLink="/projects" routerLinkActive="active-link">Projects</a>
      <a mat-button routerLink="/skills" routerLinkActive="active-link">Skills</a>
      <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </nav>
  

    <button mat-icon-button aria-label="GitHub">
      <mat-icon>code</mat-icon>
    </button>
  </mat-toolbar>
  
  