<div class="circle-container">
    <img src="https://via.placeholder.com/150" alt="Circular Image" />
</div>

<div class="cards-container">

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>About</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Learn more about me.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/about">Learn More</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Projects</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Explore my projects.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/projects">View Projects</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Skills</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Discover my skills.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/skills">See Skills</button>
      </mat-card-actions>
    </mat-card>
  </div>